{% extends 'base.html' %}

{% block content %}
<ul>
    <li><a href="/settings/profiles">Пользователи</a></li>
    <li><a href="/settings/contragents">Контрагенты</a></li>
    <li><a href="/settings/Addresses">Адреса</a></li>
    <li><a href="/settings/business_parameters">Бизнес-параметры</a></li>
</ul>
<hr>
<h1>Список контрагентов</h1>

<table>
    <tr>
    <th>№ п/п</th>
    <th>Код контрагента</th>
    <th>Наименование</th>
    <th>ИНН</th>
    <th>КПП</th>
    </tr>
    {% for item in items %}
    <tr>
    <th><a href="/settings/contragent/{{ item.id}}">{{ item.id}}</a></th>
    <th>{{ item.code}}</th>
    <th>{{ item.name}}</th>
    <th>{{ item.inn}}</th>
    {% if kpp=null %}
    <th>{{ item.kpp}}</th>
    </tr>
    {% endfor %}
</table>
{% endblock %}